.d1{
	width: 500px;
	height: 300px;
	margin: auto;
	margin-top: 150px;
	background-color:antiquewhite;
	color: black;
	font-size:20px ;
	border-radius: 25px;
	line-height:50px;
}

#d1{
	margin-left: 50px;
}
body{
	margin: 0px;
	padding: 0px;
	background-image: url(../img/pic.jpg);
}



input{
	width: 200px;
	height: 20px;
}

.submit{
	width: 70px;
	height:30px;
	border: 0px;
	background-color: red;
	opacity: 0.9;
	color: #fff;
	border-radius: 10px;
}


a{
	text-decoration: none;
	color: blue;
	line-height:50px;
	font-size: 15px;
}

#submit{
}
